[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}
sqlmodel = "*"
python-decouple = "*"
uvicorn = "*"
gunicorn = "*"
python-multipart = "*"
alembic = "*"
python-slugify = "*"

[dev-packages]
ruff = "*"
pylint = "*"
types-passlib = "*"

[requires]
python_version = "3.12"
